@(message: String)

@main("GettingStarted") {

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="@routes.Assets.at("images/lang-logo.png")">
    </a>
    <h1>Which Ramayana Character are You?</h1>
    <p> Quiz Created for Religion 40,  Spring 2017.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-scala"><span class="glyphicon glyphicon-flash"></span> Take Quiz!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/scala-getting-started"> Read Paper</a>
  </div>
</div>
<div class="container">
  @if(message != null){
  <div class="alert alert-success text-center" role="alert">
    @message
  </div>
  }
</div>

}
