@(message: String)

@main("GettingStarted") {
<head>
  <style>
body {
    background-color: #A9A9A9;
    margin: 20px;
}

</style>
</head>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="http://globalramrajya.com/sriram.jpg">
    </a>
    <h1>Which Ramayana Character are You?</h1>
    <p> Quiz Created for Religion 40,  Spring 2017.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://ramayanaquiz.herokuapp.com/q/1"><span class="glyphicon glyphicon-flash"></span> Take Quiz!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://ramayanaquiz.herokuapp.com/"> Read Paper</a>
  </div>
</div>

}
