<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Results <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://ramayanaquiz.herokuapp.com/result/1">Sitayana Sita</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/2">Bhakti Rama</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/3">Valmiki's Rama</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/4">Kumbhakarna</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/5">Hanuman</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/6">Lakshmana</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/7">E.V.R.'s Ravana</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/8">Vali</a></li>
            <li><a href="https://ramayanaquiz.herokuapp.com/result/9">Sugriva</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
